<a href="https://colab.research.google.com/github/Matheus-Homem/future-sales-prediction/blob/main/notebook/Future_Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. Imports

## 0.1. Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set_style('darkgrid')

In [1]:
import warnings
warnings.filterwarnings('ignore')

## 0.2. Loading Data

In [6]:
# Importing data from .csv
item_categories = pd.read_csv("https://github.com/Matheus-Homem/future-sales-prediction/raw/main/data/item_categories%20(translated).csv")
items = pd.read_csv("https://github.com/Matheus-Homem/future-sales-prediction/raw/main/data/items%20(translated).csv")
sales_train = pd.read_csv("https://github.com/Matheus-Homem/future-sales-prediction/raw/main/data/sales_train.csv")
shops = pd.read_csv("https://github.com/Matheus-Homem/future-sales-prediction/raw/main/data/shops%20(translated).csv")

In [7]:
# First row of 'item_categories'
item_categories.loc[0]

item_category_name         PC - Гарнитуры/Наушники
item_category_name_en    PC - Headset / Headphones
item_category_id                                 0
Name: 0, dtype: object

In [8]:
# First row of 'items'
items.loc[0]

item_name                ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D
item_name_en        Lucky In the power of the puffy (reservoir.) D
item_id                                                          0
item_category_id                                                40
Name: 0, dtype: object

In [9]:
# First row of 'sales_train'
sales_train.loc[0]

date              02.01.2013
date_block_num             0
shop_id                   59
item_id                22154
item_price               999
item_cnt_day               1
Name: 0, dtype: object

In [10]:
# First row of 'shops'
shops.loc[0]

shop_name          !Якутск Орджоникидзе, 56 фран
shop_name_en    ! Yakutsk Ordzhonikidze, 56 fran
shop_id                                        0
Name: 0, dtype: object

## 0.3. Helper Functions

# 1. Data Description

## 1.1. Merging Tables

In [ ]:
df1 = pd.merge(items,item_categories,on='item_category_id')
df1 = pd.merge(sales_train,df1,on='item_id')
df1 = pd.merge(df1,shops,on='shop_id')
df1.sample().T

                                              2867126
date                                       02.01.2015
date_block_num                                     24
shop_id                                            48
item_id                                         20448
item_price                                        399
item_cnt_day                                        1
item_name           Фигурка Cut the Rope Ом-Ном 10 см
item_category_id                                   72
item_category_name                  Подарки - Фигурки
shop_name                Томск ТРЦ "Изумрудный Город"

## 1.2. Data Dimensions

In [ ]:
print('Number of Rows: {:,}'.format(df1.shape[0]))
print('Number of Columns: ',df1.shape[1])

Number of Rows: 2,935,849
Number of Columns:  10

## 1.3. Data Types

In [ ]:
df1.dtypes

date                   object
date_block_num          int64
shop_id                 int64
item_id                 int64
item_price            float64
item_cnt_day          float64
item_name              object
item_category_id        int64
item_category_name     object
shop_name              object
dtype: object

## 1.4. Change Data Types

In [ ]:
df1['date'] = pd.to_datetime(df1['date'])

## 1.5. NA Checking

In [ ]:
df1.isna().sum()

date                  0
date_block_num        0
shop_id               0
item_id               0
item_price            0
item_cnt_day          0
item_name             0
item_category_id      0
item_category_name    0
shop_name             0
dtype: int64

## 1.6. Fillout NA

- None of the columns have null values;

## 1.7. Descriptive Statistical

In [ ]:
num_attributes = df1.select_dtypes(include=['int64','float64'])
cat_attributes = df1.select_dtypes(exclude=['int64','float64','datetime64[ns]'])

### 1.7.1. Numerical Attributes

In [ ]:
# Central Tendency - mean, median
ct1 = pd.DataFrame(num_attributes.apply(np.mean)).T
ct2 = pd.DataFrame(num_attributes.apply(np.median)).T

# Dispersion - std, min, max, range, skew, kurtosis
d1 = pd.DataFrame(num_attributes.apply(np.std)).T
d2 = pd.DataFrame(num_attributes.apply(min)).T
d3 = pd.DataFrame(num_attributes.apply(max)).T
d4 = pd.DataFrame(num_attributes.apply(lambda x: x.max() - x.min())).T
d5 = pd.DataFrame(num_attributes.apply(lambda x: x.skew())).T
d6 = pd.DataFrame(num_attributes.apply(lambda x: x.kurtosis())).T

# Contacatenate
n = pd.concat([d2,d3,d4,ct1,ct2,d1,d5,d6]).T.reset_index()
n.columns = ['Attributes','Min','Max','Range','Mean','Median','Std','Skew','Kurtosis']

In [ ]:
n

         Attributes   Min       Max  ...          Std        Skew       Kurtosis
0    date_block_num   0.0      33.0  ...     9.422986    0.203858      -1.082869
1           shop_id   0.0      59.0  ...    16.226970   -0.072361      -1.025358
2           item_id   0.0   22169.0  ...  6324.296277    0.257174      -1.225210
3        item_price  -1.0  307980.0  ...  1729.799336   10.750423     445.532826
4      item_cnt_day -22.0    2169.0  ...     2.618834  272.833162  177478.098774
5  item_category_id   0.0      83.0  ...    17.100756    0.318283      -0.525158

[6 rows x 9 columns]

### 1.7.2. Categorical Attributes

In [ ]:
# Unique values
cat_attributes.apply(lambda x: x.unique().shape[0])

item_name             21807
item_category_name       84
shop_name                60
dtype: int64

# 2. Feature Engineering

In [ ]:
df2 = df1.copy()